@import url(../../assets/css/bootstrap.min.css);
/* bubble css start */
 .bubbles {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 0;
     overflow: hidden;
     top: 0;
     left: 0;
}
 .bubble {
     position: absolute;
     bottom: -100px;
     width: 40px;
     height: 40px;
     background: #f1f1f1;
     border-radius: 50%;
     opacity: 0.2;
     animation: rise 10s infinite ease-in;
}
 .bubble:nth-child(1) {
     width: 40px;
     height: 40px;
     left: 10%;
     animation-duration: 8s;
}
 .bubble:nth-child(2) {
     width: 20px;
     height: 20px;
     left: 20%;
     animation-duration: 5s;
     animation-delay: 1s;
}
 .bubble:nth-child(3) {
     width: 50px;
     height: 50px;
     left: 35%;
     animation-duration: 7s;
     animation-delay: 2s;
}
 .bubble:nth-child(4) {
     width: 80px;
     height: 80px;
     left: 50%;
     animation-duration: 11s;
     animation-delay: 0s;
}
 .bubble:nth-child(5) {
     width: 35px;
     height: 35px;
     left: 55%;
     animation-duration: 6s;
     animation-delay: 1s;
}
 .bubble:nth-child(6) {
     width: 45px;
     height: 45px;
     left: 65%;
     animation-duration: 8s;
     animation-delay: 3s;
}
 .bubble:nth-child(7) {
     width: 90px;
     height: 90px;
     left: 70%;
     animation-duration: 12s;
     animation-delay: 2s;
}
 .bubble:nth-child(8) {
     width: 25px;
     height: 25px;
     left: 80%;
     animation-duration: 6s;
     animation-delay: 2s;
}
 .bubble:nth-child(9) {
     width: 15px;
     height: 15px;
     left: 70%;
     animation-duration: 5s;
     animation-delay: 1s;
}
 .bubble:nth-child(10) {
     width: 90px;
     height: 90px;
     left: 25%;
     animation-duration: 10s;
     animation-delay: 4s;
}
 @keyframes rise {
     0% {
         bottom: -100px;
         transform: translateX(0);
    }
     50% {
         transform: scale(1.5);
    }
     100% {
         bottom: 1080px;
         transform: translateX(-200px);
    }
}
/* bubble css end */
 .custom-control-input:checked~.custom-control-label::before {
     border-color: #adb5bd;
}
 .navbar-brand img.brand-img {
     max-width: 110px !important;
}
 .btn-blue {
     background: #e41c23;
     color: #fff;
     border-color: #e41c23;
}
 .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
     background: #214083 !important;
     color: #fff;
     border-color: #214083 !important;
}
 .select_language {
     position: absolute;
     max-width: 175px;
     top: 10px;
     right: 10px;
     width: 100%;
}
 .select_language select {
     font-size: 14px;
}
 table tbody tr:hover {
     background: #7bc46a !important;
}
 .choise_icon {
     padding: 20px 5px;
}
 .choise_icon a {
     margin: auto;
     text-align: center;
     width: 180px;
     height: 180px;
     background: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 100%;
     box-shadow: inset 0 0 15px #ccc;
     border: 1px solid #ccc;
     -o-transition: all .5s ease-in;
     -moz-transition: all .5s ease-in;
     -webkit-transition: all .5s ease-in;
     transition: all .4s ease-in;
}
 .choise_icon a:hover {
     box-shadow: 0 0 10px #ccc;
     transform: scale(1.04) rotate(5deg);
}
 .choise_icon i {
     font-size: 100px;
}
 .green_card {
     background: #29cc39;
}
 .green_card i {
     color: #29cc39;
}
 .purple_card {
     background: #8833ff;
}
 .purple_card i {
     color: #8833ff;
}
 .orange_card {
     background: #ff6633;
}
 .orange_card i {
     color: #ff6633;
}
 .skyblue_card {
     background: #33bfff;
}
 .skyblue_card i {
     color: #33bfff;
}
 .card-header h6, .card .dropdown-toggle i {
     color: #fff;
}
 .total_count span {
     font-weight: 600;
}
 .total_count {
     background: #fff;
     width: 30px;
     height: 30px;
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .error {
     color: #e41c23;
}
 .auth-form {
     padding: 40px;
     max-width: 530px;
     margin: 0 auto;
}
 .mb-10 {
     margin-bottom: 10px;
}
 .mb-20 {
     margin-bottom: 20px;
}
 .mb-25 {
     margin-bottom: 25px;
}
 .mb-30 {
     margin-bottom: 30px;
}
 .display-4 {
     font-size: 2rem;
     color: #212529;
     margin-bottom: 40px;
}
 .hk-pg-wrapper.hk-auth-wrapper {
     padding: 0;
     background: #214083;
}
 .hk-pg-wrapper.hk-auth-wrapper>header {
     position: absolute;
     top: 0;
     z-index: 10;
     width: 100%;
     padding: 20px;
}
 .hk-pg-wrapper.hk-auth-wrapper .auth-cover-img {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
     width: 100%;
}
 .hk-pg-wrapper.hk-auth-wrapper .auth-form-wrap {
     padding: 15px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     height: 100vh;
}
 @media (max-width:991px) {
     .margin_for_mob15 {
         margin-top: 15px;
    }
}
 @media (max-width:767px) {
     .choise_icon a {
         width: 110px;
         height: 110px;
    }
     .choise_icon {
         padding: 10px 5px;
    }
     .choise_icon i {
         font-size: 50px;
    }
     .display-4 {
         font-size: 1.6rem;
    }
}
 @media (max-width:576px) {
     .select_language select {
         font-size: 12px;
         height: auto;
         padding: 4px 6px;
    }
     .select_language {
         max-width: 140px;
         top: 5px;
         right: 5px;
    }
     .choise_icon a {
         width: 80px;
         height: 80px;
    }
     .choise_icon {
         padding: 0px;
    }
     .choise_icon i {
         font-size: 35px;
    }
     .card-header h6 {
         font-size: 14px;
    }
}
